.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:  2vw;
    margin-bottom:  2vw;
    padding: 10px;
}

.actions button {
    width: 250px;
    background-color: transparent; 
    color: #1a3e5a; 
    border: 2px solid #1a3e5a; 
    border-radius: 10px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.actions button:hover {
    background-color: #1a3e5a; 
    color: white; 
}
@media screen and (max-width:645px) {
    .actions{
        display: none;
    }
}