.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.container div {
  display: flex;
  align-items: flex-start;
  width: 200px;
}

.container label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

.container input[type="text"],
.container input[type="number"] {
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.container input[type="text"]:focus,
.container input[type="number"]:focus {
  border-color: #0056b3;
  background-color: #f1f8ff;
}

.container input[type="text"]:not(:placeholder-shown),
.container input[type="number"]:not(:placeholder-shown) {
  background-color: #ffffff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  bottom: 0;
  left: 5;
  padding: 15px;
}

.bt-newquestion,
.bt-terminer {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt-newquestion {
  background-color: #2c5474;
  color: white;
  margin-left: 170px;
}

.bt-newquestion:hover {
  background-color: #021b36;
}

.bt-terminer {
  background-color: white;
  color: #2c5474;
  border: 1px solid #2c5474;
}

.bt-terminer:hover {
  background-color: gray;
}

.question-card {
  background-color: #1a3e5a;
  color: white;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  border-radius: 20px;
  font-family: sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 76%;
  max-width: 1300px;
  box-sizing: border-box;
  max-height: none;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: #f0c060;
}

.icons {
  display: flex;
  gap: 12px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0.8rem 0;
}

.question-body .label {
  color: #cccccc;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.texte,
.reponse {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

.reponse li {
  color: white;
  margin-left: 10px;
  list-style-type: none;
}

