@font-face {
    font-family: 'makebond';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/123939/Makebond-E46KW.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.accueil{
    padding-top: 25vh;
    scroll-behavior: smooth;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}
.navigation{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 5px; 
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 0 20px; 
}


.navbar1 {
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 16px 25px;
    gap: 20px;
    box-shadow: 2px 2px 25px black;
}

.lien{
    color: #454545;
    font-weight: bold;
    font-family:  "Montserrat" , sans-serif;
    text-decoration: none;
    font-size: 15px;
    transition: all .7s;
}
.lien:hover{
    color: #000;
}
.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.connexion{
    text-decoration: none;
    background-color: #FEB201;
    padding: 18px 35px;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-family:  "Montserrat" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    transition: all .5s;
}
.inscription{
    padding: 18px 35px;
    text-align: center;
    color: white;
    background-color: #ff5100;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
    font-family:  "Montserrat" , sans-serif;
    text-decoration: none;
    transition: all .5s;
}

.connexion:hover, .contact:hover, .inscription:hover{
    transform: scale(.95);
}

.simplifiez{
    text-align: center;
    color: #ffb600;
    font-family: "makebond";
    font-size: 60px;
}
.explications{
    text-align: center;
    font-family:  "Bungee" , sans-serif;
    color: black;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.qui{
    margin-top: 190px; 
    font-family: "makebond";
    font-size: 35px;
    text-align: center;
    color: #000;

}
.nous{
    color: #ffb600;
    text-shadow: 2px 2px 5px #000;
}
.image{
    text-align: center;
}
.logo{
    margin: 30px;
    width: 200px;
}
.container2{
    text-align: center;
    color: rgb(255,255,255);
    width: 650px;
    background-color: #213b74;
    margin: 35px auto;
    padding: 25px;
    border-radius: 50px;
    font-family:  "Montserrat" , sans-serif;
    box-shadow: 2px 2px 10px #213b74;
}
.pourQui{
    margin-left: 80px;
    font-family: "makebond";
    font-size: 35px;
    margin-top: 80px;
    color: #000;
}
.quii{
    color: #ffb600;
    text-shadow: 2px 2px 5px #000;

}
.vousEtes{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    color: #000;
}
.quizzMaster{
    color: #ffb600;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}
.stat{
    width: 50px;
    margin: 10px;
}

.pourPhoto{
    width: 300px;
    object-fit: cover;
    margin: 50px 0;
}

.containerStat{
    margin: auto;
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.pourquoiNous{
    text-align: center;
    font-family: "makebond";
    font-size: 35px;
    margin-bottom: 70px;
    color: #000;

}
.hna{
    color: #ffb600;
    text-shadow: 2px 2px 5px #000;
}

.containerWhy{
    width: 750px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    font-family:  "Montserrat" , sans-serif;
    background-color: #213b74;
    color: rgb(255,255,255);
    padding: 15px 15px 0 25px;
    box-shadow: 2px 2px 10px #000;
}

.containerWhyPhoto{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:  "Montserrat" , sans-serif;
    color: rgb(255,255,255);
    padding: 12px 15px 0 25px;
}

.parapgrapheInterface{
    width: 500px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.bg-jaune{
    background-color: #FEB201;
}

.bg-orange{
    background-color: #FF7134;
}
.nehiLvista{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: "makebond";
}

.decouvrez{
    color: #000;
    margin-top: 70px;
    text-align: center;
    font-family: "makebond";
    font-size: 35px;
}
.decouvrezOrange{
    color:#ffbf00;
    text-shadow: 2px 2px 5px #000;
}
.pourLes{
    color: #000;
    margin-top: 70px;
    text-align: center;
    font-family:  "Montserrat" , sans-serif;
    font-size: 25px;
}
.examinateur{
    color:#ffbf00;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}
.examine{
    color: #213b74;
    font-weight: bold;
}
.n1{
    font-family: "makebond";
    width: 60px;
    height: 60px;
    margin-right: 30px;
    padding: 0 20px;
    text-align: center;
    font-size: 35px;
    color: #ffbf00;
    border: 2px dashed;
    border-radius: 50%;
}
.creerExamen{
    background-color: #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 15px;
    margin: 0 50px 0 5px;
    font-family:  "Montserrat" , sans-serif;
    color: rgb(255,255,255);
    font-weight: bold;
}
.maDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maDiv2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corriger{
    background-color: #ffbf00;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 15px;
    margin: 0 50px 0 5px;
    font-family:  "Montserrat" , sans-serif;
    font-weight: bold;
    color: rgb(255,255,255);
}
.pourLesE{
    margin-top: 20px;
    text-align: center;
    font-family:  "Montserrat" , sans-serif;
    font-size: 25px;
    color: #000;
}
.n2{
    font-family: "makebond";
    width: 60px;
    height: 60px;
    margin-right: 30px;
    text-align: center;
    font-size: 35px;
    color: #213b74;
    border: 2px dashed;
    border-radius: 50%;
    align-items: center;
}
.Examine{
    background-color: #213b74;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0 50px 0 5px;
    font-size: 15px;
    font-weight: bold;
    font-family:  "Montserrat" , sans-serif;
    color: rgb(255,255,255);
}
.ehOui{
    margin-top: 30px;
    font-family: "makebond";
    font-size: 35px;
    color: #000;
}
.simple{
    color:#FEB201;
    text-shadow: 2px 2px 5px #000;
}
.maDiv3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.commencer{
    text-decoration: none;
    background-color: #FEB201;
    padding: 18px 55px;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-family: "Monserrat" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    transition: all .5s;
}
.commencer:hover{
    transform: scale(.95);
}
@media screen and (max-width: 1030px){
    .navbar1{
        display: none;
    }
    .simplifiez{
        font-size: 30px;
    }
    .explications{
        width: 80%;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
    .connexion, .inscription, .commencer{
        padding: 15px 35px;
        font-size: 12px;
    }
    .qui{
        font-size: 20px;
        margin-top: 50px;
    }
    .logo{
        width: 120px;
    }
    .container2{
        width: 90%;
        background-color: none;
        text-align: left;
        margin: auto;
    }
    .pourQui{
        font-size: 30px;
    }
    .pourPhoto{
        display: none;
    }
    .vousEtes{
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }
    .pourquoiNous{
        font-size: 30px;
        margin-top: 30px;
    }
    .containerWhy{
        width: 90%;
        height: auto;
    }
    .parapgrapheInterface{
        font-size: 12px;
        font-weight: normal;
    }
    .stat{
        width: 40px;
        margin: 0;
    }
    .nehiLvista{
        font-size: 15px;
    }
    .decouvrez{
        font-size: 30px;
    }
    .pourLes, .pourLesE{
        font-size: 15px;
    }
    .n1,.n2{
        font-size: 30px;
    }
    .maDiv{
        flex-direction: column;
    }
    .creerExamen{
        font-weight: normal;
        font-size: 15px;
        padding: 20px;
        margin: 0 auto 20px auto;
        height: 70px;
    }
    .corriger{
        font-weight: normal;
        font-size: 15px;
        margin: auto;
        padding: 0 20px;
        height: 70px;
    }
    .Examine{
        height: 70px;
        margin: 0 auto 20px auto;
        font-weight: normal;
    }
    .ehOui{
        font-size: 25px;
    }
}
@media screen and (max-width:480px) {
    .inscription{
        display: none;
    }
}