.menu{
    border-bottom: solid 1px #000;
    padding: 20px 0;
    margin: 0 20px;
    font-size: 25px;
}
.menuDeroulant{
    margin-left: 30px;
    font-size: 20px;
}
.divReponse{
    border-radius: 40px;
    background-color: #1d3d6e;
    margin: 20px;
    color: #fff;
    padding: 30px ;
    display: flex;
    justify-content: space-between;
}

.correctionContainer{
    display: flex;
    align-items: center;
    justify-content: end;
}
.correctionContainer label{
    color: #fff;
    margin-right: 10px;
}
.divSoumettre{
    padding-top: 50px;
}
.boutonSoumettre{
    padding: 7px 20px;
    border: solid 1px #fff;
    background-color: #1d3d6e;
    color: #fff;
    border-radius: 10px;
    transition: all .6s;
}
.boutonSoumettre:hover{
    background-color: #fff;
    color: #1d3d6e;
}