.listExamens{
  padding: 0 20px;
}
.examensPasses, .examensAPasser{
    display: flex;
    justify-content: space-between;
    font-family: "Monserrat",sans-serif;
    font-size: 22px;
    border-bottom: solid 1px #000;
    margin-top: 20px;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.examenItems{
    display: flex;
    width: 70%;
    justify-content: space-between;
    background-color: #213b74;
    box-shadow: 2px 2px 10px #000;
    margin: 20px 0;
    padding: 50px 20px;
    color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
}
.bouton{
    width: 170px;
    color: #213b74;
    border: solid 2px #213b74;
    background: transparent;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #213b74;
    transition: all .5s;
}
.bouton:hover{
    background-color: #213b74;
    color: #fff;
}

@media screen and (max-width: 680px){
    .flex{
        flex-direction: column;
        align-items: end;
    }
    .examenItems{
        width: 100%;
    }
}
.examHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px #000;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .examInfo{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #1d3d6e;
    padding: 50px 20px;
    border-radius: 40px;
  }
  
  .examCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

  }
  .correctButton{
    padding: 7px 50px;
    color: #1d3d6e;
    border: solid 2px #1d3d6e;
    background-color: #fff;
    border-radius: 15px;
    transition: all .6s;
  }
  .correctButton:hover{
    color: #fff;
    background-color: #1d3d6e;
  }
  @media screen and (max-width: 630px){
    .examInfo{
      width: 100%;
      flex-wrap: wrap;
    }
    .examCard{
      flex-direction: column;
      align-items: end;
      gap: 20px;
    }
    .correctButton{
      margin-right: 5px;
    }
  }