.success,.failure{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-size: 17px;
    font-family: "Monserrat", sans-serif;
    border: solid 1px#000;
    border-radius: 20px;
    z-index: 9999;
    padding: 50px 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

